<!-- hero.component.html -->
<section class="hero-section">
  <div class="container-fluid px-5">
    <div class="row align-items-center min-vh-100">

      <!-- Links: Text -->
      <div class="col-md-4">
        <p class="hero-sub"></p>
        <h1 class="hero-title">Hi, I'm Luise.<br><em>Hair Artist</em><br>Ready to create an art form on your body.</h1>
      </div>

      <!-- Mitte: Hauptbild rund -->
      <div class="col-md-4 text-center">
        <div class="hero-img-round">
          <img src="../../../assets/logo/logo_hairbyluise.jpg" alt="Hero">
        </div>
      </div>

      <!-- Rechts: kleines Bild + Text -->
      <div class="col-md-4">
        <div class="hero-img-small">
          <img src="../../../assets/img/erol-ahmed-aIYFR0vbADk-unsplash.jpg" alt="Side">
        </div>
        <p class="hero-side-text">Natural products for healthy hair.</p>
      </div>

    </div>
  </div>
</section>
